// Full window diplay app
window-rule {
    match title="Visual Studio Code"
    open-maximized true
}

window-rule {
    match title="Brave"
    open-maximized true
}

//   Title: "Google Chrome"
//   App ID: "google-chrome"
window-rule {
    match title="Google Chrome"
    open-maximized true
}
