// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction

// =========================
// Appearance
// =========================
include "cfg/animations.kdl"
include "cfg/layout.kdl"
include "cfg/overview.kdl"

// =========================
// Hardware
// =========================
include "cfg/input.kdl"
include "cfg/display.kdl"

// =========================
// Window Rules
// =========================
include "cfg/rules/rules.kdl"
include "cfg/rules/full.kdl"
include "cfg/rules/floating.kdl"
include "cfg/rules/opacity.kdl"
include "cfg/rules/layer.kdl"
include "cfg/rules/workspace.kdl"

// =========================
// Startup
// =========================
include "cfg/startup.kdl"

// =========================
// Keybindings
// =========================
include "cfg/binds.kdl"

// =========================
// System
// =========================
include "cfg/system.kdl"

// theme noctalia shell


include "./noctalia.kdl"

